
body { font-family: "Georgia", serif;
       color:       #000000; }

p { font-size: 17px; }

#container { width:  540px;
             margin: auto; }

#header h1 { font-family:    "Garamond", "EB Garamond", "Georgia", serif;
             font-size:      55px;
             letter-spacing: 10px;
             text-align:     center;
             border-left:    2px solid black;
             border-right:   2px solid black; }

#content { padding-top:  40px;
           margin-left:  40px;
           margin-right: 40px; }

#content p { text-align:  justify;
             text-indent: 2em;
             line-height: 1.5; }

#navigation { font-size:       20px;
              font-style:      italic;
              margin:          0;
              padding:         0;
              list-style-type: none;
              text-align:      center; }

#navigation li { display: inline;
                 padding: 10px; }

#navigation li a { color: #444; }

#footer p { font-family: "Arial", sans-serif;
            font-size:   12px;
            color:       #666;
            text-align:  center; }

.intro { padding-bottom: 40px; }

.project h2           { font-size: 22px; }
.project h2 a         { color: #444; }
.project h2 a:visited { color: #666; }
.project              { padding-bottom: 40px; }

.wrap { float:  left;
        margin: 9px; }

.contactinfo dd { padding-bottom: 20px; }

@media (max-width: 600px) {
    #container { width: auto; }
    #content { margin-left: 10px;
               margin-right: 10px; }
    .content { padding: 5px; }
}