{% extends "layout.html" %}

{% block content %}
<div id="about">

    <p><img class="wrap" alt="Picture of me"
            src="{{ url_for('static', filename='me.jpg') }}"> My name is 
        Tomi Kortelainen. I'm from Kajaani, Finland and I'm 28 years old. 
	    I study information technology at Kajaani University of 
	    Applied Sciences. When I graduate, hopefully in 2019, I will be an 
	    engineer! I'm specializing in smart systems and Internet of Things 
	    and loving everything about it. I try to keep my mind open and get 
	    experience in other areas of software development as well.</p>

    <p>I've been developing software as a hobby since I was twelve. I
        used to make simple text adventures and such with Visual Basic.
        In upper comprehensive school we were offered programming class
        in Delphi. At about those times I also used to make IRC bots
        with mIRC script. That's when I also got interested in web
        development and PHP and HTML. Our school provided each student
        with some space for web pages and after inquiring also PHP
        script support. At upper secondary school I used to draw a web
        comic which I hosted on a very simple content management system
        written by me in PHP. I also wrote a very simple web store
        without any payment systems for my fathers friend. Store has
        since been upgraded to something more modern.</p>

    <p>Before I got in my current school I tried some other career choices: 
        Degree Programme in Class Teacher Education for a year in 2009 and 
        Degree Programme in Nursing for a year in 2010. I dropped out on both 
        as I didn't find those career paths fulfilling. I got severely 
        depressed in 2009 – 2012 but fortunately I have a great group of 
        close friends, loving girlfriend, family and professionals and I feel 
        my life is back on track.</p>

    <p>I like learning and tinkering with different programming
        languages. I'm confident in couple:</p>
    <ul>
        <li>Python</li>
        <li>Java/Android</li>
        <li>C#</li>
        <li>C and C++</li>
        <li>PHP</li>
        <li>JavaScript</li>
    </ul>
    <p>I can fight my way around many other languages including Ruby,
        Julia, Lua and many others.</p>

    <p>I've also used couple different operating systems. Currently I have Xubuntu 
        and Windows 10 installed on my desktop, Lubuntu linux distribution on my 
        laptop and Debian installed on my virtual server. I've also used Fedora, 
        FreeBSD and Arch linux. Using these *nix systems I've came to know many 
        common GNU and unix tools like Bash and many of the shell commands and programs.</p>

    <p>Other technologies I know and have used are:</p>
    <ul>
        <li>Git - Distributed revision control system</li>
        <li>Subversion - Revision control system</li>
        <li>Apache2</li>
        <li>Nginx</li>
        <li>HTML5</li>
        <li>CSS</li>
        <li>VirtualBox</li>
        <li>OpenGL, OpenGL ES and related GLSL</li>
        <li>MySQL / SQL</li>
        <li>SQLite</li>
    </ul>

    <p>Apart from my digital hobbies I also try to keep myself healthy and fit. 
        I like to run especially in summer (and our active dog makes it necessary 
        also  in winter). I also try to get a good work out at least couple times 
        a week.</p>

</div>
{% endblock %}
