{% extends "layout.html" %}

{% block content %}
<div id="contact">
    <h2>Contact Info:</h2>

    <p>If you have anything to ask please send me a message. You can get
        to me by email or by my LinkedIn profile.</p>
    <dl class="contactinfo">
        <dt>Email:</dt>
        <dd><a href="mailto:tomi.kortelainen@gmail.com">tomi.kortelainen@gmail.com</a>
        </dd>
        <dt>LinkedIn:</dt>
        <dd><a href="https://www.linkedin.com/in/tomkort">www.linkedin.com/in/tomkort</a>
        </dd>
    </dl>

</div>
{% endblock %}
