{% extends "layout.html" %}

{% block content %}

<div class="intro">
    <h2>Hi!</h2>

    <p>My name is Tomi Kortelainen and I'm studying on Degree Programme
        in Information Technology at <a href="http://kamk.fi/en">Kajaani
            University of Applied Sciences</a> in Kajaani, Finland for
        Bachelor's Degree in Engineering. Our studies are specialised
        around embedded systems and Internet of Things.</p>

    <p>This page contains links to some of my <a href="/projects/">projects</a>
        and information <a href="/about">about me</a> and my skills.</p>
</div>

{% endblock %}
