<!DOCTYPE html>
<html>
<head>
    <meta name="author" content="Tomi Kortelainen">
    <meta name="description" content="Home page of Tomi Kortelaine">
    <meta name="keywords" content="Tomi Kortelainen,tomkort,software,developer,development">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet"
          type="text/css"
          href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
    <title>Tomkort - {{ subtitle  }}</title>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-60910857-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>

<body>
<div id="container">
    <div id="header">
        <h1>tomkort</h1>
        <ul id="navigation">
            <li><a href="/">Index</a></li>
            <li><a href="http://blog.tomkort.net">Blog</a></li>
            <li><a href="/projects/">Projects</a></li>
            <li><a href="/about">About me</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <div id="footer">
        <p>Copyright © 2015 by Tomi Kortelainen</p>
    </div>
</div>
</body>

</html>
