{% extends "layout.html" %}

{% block content %}

<div class="project">
    <h2>
        <a href="https://bitbucket.org/tomi_kortelainen/droid2web/overview">
            droid2web
        </a></h2>

    <p>Droid2web was an android app that made it possible to read and
        send SMS-messages from your web browser. It acted as a simple
        web server on your local network and served password protected
        page where you could read your messages and check missed calls.
        It was made as personal project so it only got tested on my
        Samsung XCover and Samsung XCover2.</p>

    <p>Development got discontinued because Android 4.4 Google allowed
        only default SMS app to get full access to SMS database.</p>

    <p>Languages I used with this project includes Java, HTML, CSS and
        JavaScript. To embed web server in my application I used great
        and small <a href="https://github.com/NanoHttpd/nanohttpd">NanoHTTPD</a>
        web server</p>

    <p>My project repository seems to be a bit out of sync with the real
        progress I made. For example, there isn't password support in
        the linked version. I also recall implementing the server as
        android service.</p>
</div>

<div class="project">
    <h2>
        <a href="https://bitbucket.org/tomi_kortelainen/gardenmonitor/overview">
            GardenMonitor
        </a></h2>

    <p>GardenMonitor was a project made for school course, Linux
        Real-time and Embedded Programming. Realistically this project
        probably won't meet any real-time standards, let alone hard
        real-time. Still, it was a fun project to work on. The task was
        to implement simple garden monitor using Raspberry Pi and some
        sensors.</p>

    <p>We used bread board to connect wires, leds and sensors together
        and to Raspberry Pi's GPIO pins. There were supposed to be
        sensors for temperature and for ground and air humidity but
        because there wasn't enough of all kinds of sensors for
        everyone, I got couple of temperature sensors and used only
        those.</p>

    <p>Linked project collects data periodically from two temperature
        sensors and saves them to SQLite database. Both sensors are
        connected to their own led, which turns on if temperature rises
        over 20 degrees of celsius.</p>

    <p>For development we used Eclipse CDT on Linux and GCC cross
        compiler tools. Application was programmed in C. I used POSIX
        threads for each sensor. Remote debugging and deploying was
        surprisingly easy convenient from Eclipses GUI. We flashed
        Raspbian on the Raspberry Pi's.</p>

    <p>Readme file in repository is in finnish.</p>
</div>

<div class="project">
    <h2>
        <a href="https://bitbucket.org/tomi_kortelainen/puppycam/overview">
            PuppyCam
        </a></h2>

    <p>PuppyCam is also personal project. It turns your Android phone to
        a web cam and serves the picture on network. It works on local
        network but you can configure your router to open the port for
        outside traffic if the router supports it.</p>

    <p>This project was a quick hack made in a hurry so we could monitor
        our new puppy for a while when we were out of the apartment. It
        has password protection. I haven't worked on this project for a
        while but I might pick it up again some day
    </p>

    <p>I used <a
            href="https://github.com/NanoHttpd/nanohttpd">NanoHTTPD</a>
        for this project also.</p>
</div>

<div class="project">
    <h2>
        <a href="https://bitbucket.org/tomi_kortelainen/tomkort/overview">tomkort.net</a>
    </h2>

    <p>This website is also open source. It is made in Python with <a
            href="http://flask.pocoo.org/">Flask</a>. I rent virtual
        server from <a href="https://www.vultr.com/">Vultr</a>. I
        installed <a href="https://www.debian.org/">Debian</a> on it and
        use <a href="http://nginx.org/">Nginx</a> for server and <a
                href="https://uwsgi-docs.readthedocs.org/en/latest/">uWSGI</a>
        to serve my Python code.</p>
</div>

<div class="project">
    <h2>
        <a href="https://bitbucket.org/tomi_kortelainen/blog.tomkort/overview">blog.tomkort.net</a>
    </h2>

    <p>Blog system I made for this website. It supports tags, editig posts
        and comments, drafts and private posts. Posts and comments are
        formatted in <a href="http://docutils.sourceforge.net/docs/ref/rst/restructuredtext.html">reStructuredText</a>.
        Blog is made using Python with Flask for URL routing and managing
        sessions, <a href="http://docutils.sourceforge.net/">Docutils</a>
        for parsing reStructuredText and
        <a href="https://sqlite.org/">SQLite</a> for database backend.</p>
</div>
{% endblock %}
